ngx-dropzone-label{
    padding: 10px;
}

h1{
    margin: auto;
}

ngx-dropzone{
    width: 40%;
    height: 250px;
    background-color: rgba(0, 191, 255, 0.2);
    color: black;
    border: black 1px dashed;
    justify-content: center;
}

::ng-deep ngx-dropzone-preview {
    max-width: 100% !important; 
    max-height: 100% !important;
    background-color: rgb(53, 255, 53) !important;
    color: black;
}

